button {
  text-decoration-color: aliceblue;
}


/*.state {
  border-radius: 10px;
  text-align: center;
}*/

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  animation-name: dotAnimation;
  animation-duration: 1s;
  //animation-delay:4s;
  animation-iteration-count: infinite;
}
.dotIdea {
  background-color: #43e8b9;
}
.dotTodo {
  background-color: #ff7f5c;
}
.dotProgress {
  background-color: #5fa8f5;
}
.dotDone {
  background-color: #93f578;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes dotAnimation {
  0%   {opacity:1;}
  25%  {opacity:0.60;}
  50%  {opacity:0.30;}
  100% {opacity:0.10;}
}

/* Standard syntax */
@keyframes dotAnimation {
  0%   {opacity:1;}
  25%  {opacity: 0.75;}
  50%  {opacity:0.45;}
  100% {opacity:0.25;}
}
