<div *ngIf="todoList?.length > 0" class="container">
  <h2><span class="badge badge-warning btn-lg btn-block text-white">My Todo's bucket</span></h2>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Created</th>
      <th scope="col">Due Date</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let todoEntry of todoList">
      <td>{{todoEntry.description}}</td>
      <td>{{todoEntry.createdAt | date:'short' }}</td>
      <td>{{todoEntry.dueDate | date:'short' }}</td>
      <!--[style.background-color]="getBadgeClassByTodoEntryState(todoEntry.state)"-->
      <td class="state m-2">
        <div>
          <span class="dot" [ngClass]="getDotClass(todoEntry.state)"></span> {{todoEntry.state}}
        </div>
      </td>
      <td><a class="btn btn-success text-white"
             routerLink="/todos/{{authenticationService.getAuthenticatedUserIdentifier()}}/{{todoEntry.id}}">Update</a>
      </td>
      <td><a (click)="deleteTodoEntry(authenticationService.getDecodedAuthenticatedUserIdentifier(),todoEntry.id)"
             class="btn btn-danger text-white">Delete</a></td>
    </tr>
    </tbody>
  </table>

</div>

<div *ngIf="todoList?.length <= 0" class="container">
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h3><span class="badge badge-info">The Todo bucket is empty</span></h3>
      </div>
      <div class="card-text">
        <span class="">Add new entries to fill the bucket</span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <a class="btn btn-primary btn-lg btn-block"
     routerLink="/todos/{{authenticationService.getAuthenticatedUserIdentifier()}}/new" type="button">Add new entry to
    the bucket</a>
</div>
