/* You can add global styles to this file, and also import other style files */
@import url("https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


.important {
  background-color: #ff3838;
  animation-name: importantAnimation;
  animation-duration: 1s;
  //animation-delay:4s;
  animation-iteration-count: infinite;
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes importantAnimation {
    0%   {opacity:1;}
    100% {opacity:0.50;}
    //from {background-color: red;}
    //to {background-color: yellow;}
  }
  /* Standard syntax */
  @keyframes importantAnimation {
    0%   {opacity:1;}
    100% {opacity:0.50;}
    //from {background-color: red;}
    //to {background-color: yellow;}
  }
}
