.myLogo {
  font-family: 'Barriecito', cursive;
  text-decoration-color: azure;
}

.myLogo:hover {
  font-family: 'Barriecito', cursive;
  text-decoration-color: azure;
}

.myLogo:visited {
  font-family: 'Barriecito', cursive;
  text-decoration-color: azure;
}

.myLogo:active {
  font-family: 'Barriecito', cursive;
  text-decoration-color: azure;
}

.myLogo:link {
  font-family: 'Barriecito', cursive;
  text-decoration-color: azure;
}

.navbar .in .nav li {
  display: block;
  float: none;
  width: 100%;
}

.cutomizedHover:hover {
  position: relative;
  opacity: 0.5;
  background: rgb(0, 0, 0, 0.4);
}


