<div class="container">
  <div class="row">
    <!--<div class="alert alert-warning" *ngIf="invalidLogin">{{invalidLoginMessage}}</div>-->
  </div>
  <div class="row">
    <div class="m-5">
      <h2><span class="badge badge-primary">Welcome to the login page!</span></h2>
      <div class="form-group myForm">
        <label for="username">User Name:</label>
        <input [(ngModel)]="username" aria-describedby="loginIdentifier" class="form-control input-sm" id="username"
               placeholder="Enter pseudo/email" type="username">
        <small class="form-text text-muted" id="loginIdentifier">Use your pseudo or  email to log in.
        </small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password:</label>
        <input [(ngModel)]="password" class="form-control input-sm" id="exampleInputPassword1" placeholder="Password"
               type="password">
      </div>
      <!--<div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div> -->
      <button (click)="handleLogin()" class="btn btn-primary">Login</button>
    </div>
  </div>
</div>



